.Game {
    background-color: #F5F5F5;
    display:'flex';
    height: 100vh;
    justify-content: 'space-around';
}

.Game__Field {
    display: flex; 
    justify-content: space-around;
    align-items: center;
    height: 70vh;
}

.Answer__Field {
    background: radial-gradient(238.96% 238.96% at 50% 54.28%, #5E3E0D 0%, #C09F9B 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    display: flex;
    justify-content: space-around;
}

.Answer {
    width: 131px;
    height: 131px;
    background: rgba(0, 0, 0, 0.06);
    box-shadow: inset 0px 4px 25px rgba(0, 0, 0, 0.25);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.ObjectSort {
    cursor: grab; 
    width: 100px;
    height: 100px;
    justify-content: center; 
    display: flex; 
    border: 2px solid blue;
    margin: '10px'; 
    background: 'lightgreen';
    }