.card {
    box-sizing: border-box;

    border-radius: 40px;
    background: linear-gradient(198.7deg, #7F75F0 -40.02%, #101F32 96.22%);
    width: 90%;
    max-width: 700px;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.cardContent {
    background: white; 
    width: 95%; 
    height: 95%;
    border-radius: 40px;
    margin: 15px auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.options {
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.wrapper {
    width: 60%;
    max-width: 366px;
    margin: 10px auto;
}

.wrapper_width {
    width: 80%;
    max-width: 531px;
    margin: 10px auto;
}

.appRange {
    -webkit-appearance: none;
    width: 100%;
    margin: auto;
    background: #FFD748;
    border-radius: 10px;
}

.appRange::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: rgb(16, 73, 135);
    width: 23px;
    border-radius: 100%;
    height: 23px;
}

.paramName {
    margin: 20px auto;
}

.selectedOrder {
    background: #FFD748;
    border: none;
    border-radius: 20px;
    font-family: 'Calibri';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #423F45;
    padding: 5px 20px;
}

.order {
    background: rgba(255, 215, 72, 0.56);
    border: none;
    border-radius: 20px;
    font-family: 'Calibri';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: rgba(66, 63, 69, 0.56);
    padding: 5px 20px;
}

.Start {
    background: #38DF7A;
    border: none;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    width: 50%;
    max-width: 260px;

    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;

    margin: 20px auto;

    color: #FFFFFF;
}

.Direction__Text {
    color: #FFFFFF;
    text-shadow: 
    -0   -2px 0   #242546,
     0   -2px 0   #242546,
    -0    2px 0   #242546,
     0    2px 0   #242546,
    -2px -0   0   #242546,
     2px -0   0   #242546,
    -2px  0   0   #242546,
     2px  0   0   #242546,
    -1px -2px 0   #242546,
     1px -2px 0   #242546,
    -1px  2px 0   #242546,
     1px  2px 0   #242546,
    -2px -1px 0   #242546,
     2px -1px 0   #242546,
    -2px  1px 0   #242546,
     2px  1px 0   #242546,
    -2px -2px 0   #242546,
     2px -2px 0   #242546,
    -2px  2px 0   #242546,
     2px  2px 0   #242546,
    -2px -2px 0   #242546,
     2px -2px 0   #242546,
    -2px  2px 0   #242546,
     2px  2px 0   #242546;
}